INVESTO_PORT=8080
INVESTO_DB_HOST=127.0.0.1
INVESTO_DB_PORT=3306
INVESTO_DB_USER=root
INVESTO_DB_PASS=
INVESTO_DB_NAME=investo
INVESTO_REDIS_ADDR=127.0.0.1:6379
INVESTO_REDIS_PASSWORD=
INVESTO_APP_NAME=Investo
INVESTO_APP_URL=http://localhost:8080
INVESTO_APP_ENV=local
INVESTO_JWT_SECRET=generate-random-string-here
INVESTO_SESSION_SECRET=generate-another-random-string-here
